
@{
    ViewBag.Title = "AdminManage";
}

<h2>AdminManage</h2>
<div class="container">
    <div class="col">
        <div class="col-md-12"><hr></div>
        <div class="col-md-4 text-right text-uppercase"><a href="~/Product/manageProduct">Manage Product</a></div>
        <div class="col-md-4 text-right text-uppercase"><a href="~/Roles/GetUsers">Manage User Roles</a></div>
        <div class="col-md-4 text-left text-uppercase"><a href="~/Order/manageOrder">Manage Orders</a></div>
        <div class="col-md-12"><hr></div>
    </div>
</div>