body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
FORM { margin: 0; padding: 0; } 
DIV.item FORM { float:right; } 
DIV.item INPUT {     
    color:White; background-color: #333; border: 1px solid black; cursor:pointer;  } 
H2 { margin-top: 0.3em } 
TFOOT TD { border-top: 1px dotted gray; font-weight: bold; } 
.actionButtons A, INPUT.actionButtons {     
    font: .8em Arial; color: White; margin: .5em;     
    text-decoration: none; padding: .15em 1.5em .2em 1.5em;     
    background-color: #353535; border: 1px solid black; }